html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: none;
  background: rgba(255, 138, 138, 0.093);
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 100%;
  bottom: 0;
  transform: translate(-100%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  color: white;
  text-align: center;
  min-height: 50px;
  line-height: 20px;
  font-size: small;

}

#intro {
  background: black;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 230;
  text-align: center;
  justify-content: center;
  align-items: space-evenly;
  position: fixed;

}

.typewriter h2 {
  color: white;
  height: 100px;
}

.typewriter p {
  /* Makes the container's width the basis of the animation */
  overflow: hidden;
  height: 100px;
  width: 100%;
  border-right: .15em solid black;
  /* Simulates the cursor */
  white-space: pre;
  text-align: center;
  color: white;
  margin: 50 auto;
  letter-spacing: .15em;
  animation: typing 3s steps(40, end) forwards,
               blink-caret .75s step-end infinite;
}
.typewriter p:nth-child(2) {
  display: block;

}
/* Second paragraph animation delay */
.typewriter p:nth-child(3) {
  color: black;   
  animation-delay: 3s; /* Delays start of the typing effect */

  animation: changeColor 4s ease 4s forwards;
          
}

@keyframes changeColor {
  from { color: black; }
  to { color: white; }
}


/* Typing animation */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* Cursor animations */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: black;
  }
}


.UI-Container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

.Button-Container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#startButton{
  pointer-events: none; /* Disables click events */
  opacity: 0.5; /* Makes the button appear faded, indicating it's not active */

}



.Button-Container button {
  width: 100px;
  padding: 5px auto;
}

.controlContainer {
  width: 300px;
  justify-content: center;
  align-items: center;
}

.slidecontainer {
  width: 100%;
  border-radius: 8px;
}

.slidecontainer p {
  margin: 2px auto;
  font-size: 15px;
  text-align: right;
}

#usContent {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

#sketchDiv {
  width: 100%;
  min-height: 100vh-50px;
}

/* Example Media Query */
@media (max-width: 768px) {
  #sketchDiv {}
}

#info>div {
  display: flex;
  /* flex-flow: row nowrap; */
  /* justify-content: space-evenly;
  align-items: center;
  align-content: baseline; */
}

/* slider */
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #ffffff;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  /* box-shadow: 1px 1px 1px #fdfdfd; */
  border: 0.5px solid #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 7px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #ffffff;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #fdfdfd;
  border: 1px solid #ffffff;
  height: 13px;
  width: 13px;
  border-radius: 7px;
  background: #000000;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #ffffff;
}

input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #ffffff;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #fdfdfd;
  border: 1px solid #ffffff;
  height: 13px;
  width: 13px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type=range]:active::-webkit-slider-thumb {
  background-color: white;
  border: black 1pt double;
}

/* button */
button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

button:active {
  position: relative;
  top: 0px;
  background-color: black;
}

#about {
  z-index: 200;
  right: 0;
  top: 0;
  text-align: right;
  position: absolute;
  color: white;
  width: auto;
  opacity: 0.5;
  display: block;
  cursor: pointer;
}

#about h2:hover {
  box-shadow: inset 150px 0 0 0 white;
  color: gray;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

#showAbout {
  background-color: rgb(0, 0, 0);
  display: none;
  z-index: 200;
  right: 0;
  top: 10vh;
  text-align: right;
  position: absolute;
  color: white;
  border-radius: 50;
  border: 2pt white double;
  opacity: 0.8;
  width: 300px;
  height: auto;
}

/* called in js */
#close {
  padding: 0 0.01%;
}

a {
  box-shadow: inset 0 0 0 0 white;
  color: white;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
  box-shadow: inset 150px 0 0 0 white;
  color: black;

}